@import "tailwindcss";

@theme {
  --color-lightHover: var(--color-blue-200);
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;

  --color-primary: var(--color-blue-400);

  --font-outfit: Outfit, "sans-serif";
  --font-ovo: Ovo, "serif" ;

  --shadow-black: 2px 2px 0 #000;
  --shadow-white: 2px 2px 0 #fff,

  /* gridTemplateColumns: {
    'auto' : 'repeat(auto-fit, minmax(200px,1fr))'
  }
   */
}

@custom-variant dark (&:where(.dark, .dark *));